@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.eot');
    src: url('../fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Roboto-Regular.woff2') format('woff2'),
    url('../fonts/Roboto-Regular.woff') format('woff'),
    url('../fonts/Roboto-Regular.ttf') format('truetype'),
    url('../fonts/Roboto-Regular.svg#Roboto-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Futura Md BT';
    src: url('../fonts/FuturaBT-Medium.eot');
    src: url('../fonts/FuturaBT-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/FuturaBT-Medium.woff2') format('woff2'),
    url('../fonts/FuturaBT-Medium.woff') format('woff'),
    url('../fonts/FuturaBT-Medium.ttf') format('truetype'),
    url('../fonts/FuturaBT-Medium.svg#FuturaBT-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box
}

header{
    position: absolute;
    width: 100%;
    padding-top: 39px
}
.container{
    max-width: 1110px;
    margin: auto
}
.d-flex{
    display: flex;
    justify-content: space-between;
}
.logo{
    position: relative;
    margin-right: 210px;
}
.logo img{
    position: absolute;
    top: -35px;
    left: -50px;
}
.toplist{
    list-style: none;
    display: flex;

}
header nav ul li{
    margin: 0 10px
}
header nav ul li a{
    text-decoration: none
}
header p{
    font-family: 'Roboto-Regular', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: #FFFFFF
}
header ul li{
    margin: 0 10px
}
header ul li:last-of-type{
    margin-right: 35px;
}
header ul li a{
    text-decoration: none
}
.main_banner{
    background-image: url('../images/back.png');
    background-size: cover;
    padding-top: 170px;
    padding-bottom: 34px;
}
h1{
    font-family: "Futura Md BT", sans-serif;
    font-size: 56px;
    font-weight: 500;
    line-height: 130%;
    color: #FFFFFF;
    margin-bottom: 30px;
}

.main_banner article{
    max-width: 512px;
    background:rgba(255, 255, 255, 0.9);
    border-radius: 20px;
    margin-right: 500px;
    margin-bottom: 98px;
    padding: 37px 33px 34px;
    display: flex
}

.main_banner article img{
    margin-right: 33px
}

.main_banner article p{
    font-family: 'Roboto-Regular', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    color: #000000
}
.order{
    display: flex;
}
.order a{
    text-decoration: none;
    padding: 20px 48px;
    background: linear-gradient(90deg, #4C6071 0%, #55BDEA 100%);
    box-shadow: 0 0 166px rgba(0, 0, 0, 0.2), 8px 8px 109px rgba(0, 0, 0, 0.05);
    border-radius: 10px
}
.order p{
    font-family: 'Roboto-Regular', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    color: #FFFFFF
}
.about_us_banner{
    padding-top: 15px;
    padding-bottom: 160px;
}
.top_about{
    margin-bottom: 160px;
}
.top_about img{
    display: block;
    width: 100%;
}
.container_about_us{
    max-width: 1440px;
    display: flex;
    justify-content: flex-end;
    margin: auto;
}
.container_about_us article{
    max-width: 385px;
    margin-right: 120px;
}
.container_about_us article h3{
    font-family: 'Gothic A1', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 130%;
    color: #000000;
    margin: 21px 0 60px;
}
.container_about_us article p{
    font-family: 'Roboto-Regular', sans-serif;
    font-style: normal;
    font-weight: 60;
    font-size: 20px;
    line-height: 150%;
    color: #000000
}
.container_about_us article p:first-of-type{
    margin-bottom: 40px;
}
.container_about_us article p strong{
    font-family: 'Roboto-Regular', sans-serif;
    font-style: normal;
    font-weight: 549;
    font-size: 20px;
    line-height: 150%;
    color: #000000
}
.photo_bathroom{
    max-width: 770px
}
.photo_bathroom img{
    width: 100%;
    display: block
}
.wy_we{
    background-color: rgba(76, 96, 113, 0.9);
    background-image: url("../images/wy_we.svg");
    padding-top: 60px;
    padding-bottom: 60px;
}
.wyh2{
    max-width: 920px;
    margin: auto;
}
.wy_we h2{
    font-family: 'Gothic A1', sans-serif;
    font-style: normal;
    font-weight: 200;
    font-size: 24px;
    line-height: 130%;
    color: #FFFFFF;
    margin-bottom: 67px;
}
.container_wy{
    display: flex;
    justify-content: space-between;
    max-width: 1110px;
    margin: auto;
}
.wy{
    max-width: 255px;
    border-radius: 20px;
    background-color: #FFFFFF;
    padding: 50px 30px;
}
.wy img{
    width: 26%;
    display: block;
    margin: 0 66px 50px 67px;
}
.wy h4{
    font-family: 'Roboto-Regular', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #373737;
    margin-bottom: 10px;
}
.wy p{
    font-family: 'Roboto-Regular', sans-serif;
    font-style: normal;
    font-weight: 60;
    font-size: 16px;
    line-height: 150%;
    color: #373737;
}
.portfolio{
    padding-bottom: 177px;
}
.topport{
    margin-bottom: 157px;
}
.topport img{
    display: block;
    width: 100%;
}
.porth2{
    max-width: 920px;
    margin: auto;
}
.portfolio h2{
    font-family: 'Gothic A1', sans-serif;
    font-style: normal;
    font-weight: 200;
    font-size: 24px;
    line-height: 130%;
    color: #373737;
    margin-bottom: 50px;
}
.container_port{
    display: flex;
    justify-content: space-between;
    max-width: 1110px;
    margin: auto;
}
.port_el{
    max-width: 540px;
    margin-bottom: 80px;
}
.port_el img{
    width: 100%;
    display: block;
    margin-bottom: 20px;
}
.port_el h4{
    font-family: 'Roboto-Regular', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #373737;
    margin-bottom: 10px;
}
.port_el p{
    font-family: 'Roboto-Regular', sans-serif;
    font-style: normal;
    font-weight: 60;
    font-size: 16px;
    line-height: 150%;
    color: #373737;
}
.container_port_button{
    display: flex;
    justify-content: center;
}
.container_port_button a{
    text-decoration: none;
    padding: 20px 67px;
    background: linear-gradient(90deg, #4C6071 0%, #55BDEA 100%);
    box-shadow: 0 0 166px rgba(0, 0, 0, 0.2), 8px 8px 109px rgba(0, 0, 0, 0.05);
    border-radius: 10px
}
.container_port_button a p{
    font-family: 'Roboto-Regular', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 150%;
    color: #FFFFFF
}
.quest_banner{
    background-color: rgba(76, 96, 113, 0.9);
    background-image: url("../images/quest_backgr.svg");
    padding-top: 60px;
    padding-bottom: 40px;
}
.quest_header{
    max-width: 1190px;
    border-radius: 20px;
    background-color: #FFFFFF;
    padding: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}
.quest_banner h2{
    font-family: 'Gothic A1', sans-serif;
    font-style: normal;
    font-weight: 200;
    font-size: 24px;
    line-height: 130%;
    color: #000000;
}
.ui-accordion .ui-accordion-header{
    font-family: 'Gothic A1', sans-serif;
    font-style: normal;
    font-weight: 200;
    font-size: 24px;
    line-height: 130%;
    color: #000000;
    display: flex;
    justify-content: space-between;
    width: 100%;
    border: none;
    max-width: 1188px;
    border-radius: 20px;
    background-color: #FFFFFF;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
    margin-bottom: 10px;
}
.ui-accordion .ui-accordion-header.ui-state-active{
    border-radius: 20px 20px 0 0;
    padding-bottom: 0;
    margin-bottom: 0;
}
.ui-icon{
    display: none;
}
.ui-accordion .ui-accordion-content {
    border: none;
    overflow: inherit;
    max-width: 1188px;
    border-radius: 0 0 20px 20px;
    background-color: #FFFFFF;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
    margin-bottom: 10px;
}
.quest_form{
    max-width: 1128px;
    border-radius: 30px;
    background-color: #4C6071;
    padding: 30px 50px 30px 30px;
    display: flex;
    justify-content: space-between;
}
.thanks{
    max-width: 1188px;
    background-image: url("../images/quest7.png");
    background-size: 1128px 370px;
    background-repeat: no-repeat;
    background-position: center;
}
.thanks h2{
    text-align: center;
    color: #FFFFFF;
    font-family: 'Gothic A1', sans-serif;
    font-size: 39px;
    font-weight: 900;
    line-height: 130%;
    margin-top: 70px;
}
.messengers{
    max-width: 408px;
    display: flex;
    justify-content: space-between;
}
.select_method{
    margin-right: 30px;
}
.select_method input{
    margin-right: 30px;
    position: absolute;
    right: -10px;
    top: 30px;
    cursor: pointer;
}
.select_method .placeholder_quest{
    position: absolute;
    right: 75px;
    top: 20px;
    cursor: pointer;
    font-family: 'Roboto-Regular', sans-serif;
    font-style: normal;
    font-weight: 200;
    font-size: 16px;
    line-height: 150%;
    color: #000000;
    border: none;
    border-bottom: solid 1px black;
    width: 284px;
}
.select_method .placeholder_quest_n{
    position: absolute;
    right: -9px;
    top: 21px;
    cursor: pointer;
    font-family: 'Roboto-Regular', sans-serif;
    font-style: normal;
    font-weight: 200;
    font-size: 16px;
    line-height: 150%;
    color: #000000;
    border: none;
    border-bottom: solid 1px black;
    width: 368px;
}
.select_method .placeholder_quest_e{
    position: absolute;
    right: 60px;
    top: 22px;
    cursor: pointer;
    font-family: 'Roboto-Regular', sans-serif;
    font-style: normal;
    font-weight: 200;
    font-size: 16px;
    line-height: 150%;
    color: #000000;
    border: none;
    border-bottom: solid 1px black;
    width: 265px;
}
.select_method .placeholder_label:last-of-type:before{
    content: "";
    background-image: url("../images/email.svg");
    width: 22px;
    height: 22px;
    display: inline-block;
    position: relative;
    top: 3px;
    margin-right: 15px;
}
.select_method .last_method{
    top: 44px;
    cursor: pointer;
    color: black;
}
.quest_form label{
    position: relative;
    display: block;
    padding: 20px;
    margin-bottom: 10px;
    min-width: 408px;
    background-color: #FFFFFF;
    border-radius: 10px;
    font-family: 'Roboto-Regular', sans-serif;
    font-style: normal;
    font-weight: 200;
    font-size: 20px;
    line-height: 150%;
    color: #000000;
    cursor: pointer;
}
.messengers label{
    position: relative;
    display: block;
    padding: 20px;
    margin-bottom: 10px;
    min-width: 194px;
    background-color: #FFFFFF;
    border-radius: 10px;
    font-family: 'Roboto-Regular', sans-serif;
    font-style: normal;
    font-weight: 200;
    font-size: 20px;
    line-height: 150%;
    color: #000000;
    cursor: pointer;
}
.messengers label:before{
    content: "";
    background-image: url("../images/telbl.svg");
    width: 22px;
    height: 22px;
    display: inline-block;
    position: relative;
    top: 3px;
    margin-right: 10px;
}
.messengers label:last-of-type:before{
    content: "";
    background-image: url("../images/vibbl.svg");
    width: 22px;
    height: 22px;
    display: inline-block;
    position: relative;
    top: 3px;
    margin-right: 10px;
}
.quest_form .placeholder_label{
    color: #FFFFFF;
}
.quest_img{
    max-width: 610px;
    margin-bottom: 10px;
}
.quest_img img{
    width: 100%;
    display: block;
}
.quest_form_right{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.quest_buttons{
    display: flex;
    justify-content: space-between;
}
.quest_form_right .button_back{
    font-family: 'Roboto-Regular', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 150%;
    color: #FFFFFF;
    padding: 20px 116px;
    background: #8F8F8F;
    box-shadow: 8px 8px 109px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    border: none;
    cursor: pointer;
}
.quest_form_right .button_forward{
    font-family: 'Roboto-Regular', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 150%;
    color: #FFFFFF;
    padding: 20px 116px;
    background: linear-gradient(90deg, #4C6071 0%, #55BDEA 100%);
    box-shadow: 8px 8px 109px rgba(0, 0, 0, 0.05), 8px 8px 109px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    border: none;
    cursor: pointer;
}
.cat_banner{
    padding-top: 30px;
    padding-bottom: 150px;
}
.topfacture{
    margin-bottom: 150px;
}
.topfacture img{
    width: 100%;
    display: block;
}
.container_cat{
    max-width: 920px;
    margin: auto;
}
.cat_banner h2{
    font-family: 'Gothic A1', sans-serif;
    font-style: normal;
    font-weight: 200;
    font-size: 24px;
    line-height: 130%;
    color: #373737;
    margin-bottom: 52px;
}
.container_cat_banner {
    display: flex;
    justify-content: space-between;
    max-width: 1112px;
    margin: auto;
}
.element{
    max-width: 255px;
    margin-bottom: 40px;
}
.element img{
    width: 100%;
    display: block;
    margin-bottom: 20px;
}
.element p{
    font-family: 'Roboto-Regular', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: #373737;
}
.container_cat_banner_button{
    display: flex;
    justify-content: center;
}
.container_cat_banner_button a{
    text-decoration: none;
    padding: 20px 46px;
    margin-top: 30px;
    background: linear-gradient(90deg, #4C6071 0%, #55BDEA 100%);
    box-shadow: 0 0 166px rgba(0, 0, 0, 0.2), 8px 8px 109px rgba(0, 0, 0, 0.05);
    border-radius: 10px
}
.container_cat_banner_button a p{
    font-family: 'Roboto-Regular', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 150%;
    color: #FFFFFF
}
.video_feedback{
    background-color: rgba(76, 96, 113, 0.9);
    background-image: url("../images/backvid.svg");
    padding-top: 60px;
    padding-bottom: 65px;
}
.feedh2{
    max-width: 920px;
    margin: auto;
}
.video_feedback h2{
    font-family: 'Gothic A1', sans-serif;
    font-style: normal;
    font-weight: 200;
    font-size: 24px;
    line-height: 130%;
    color: #FFFFFF;
    margin-bottom: 87px;
}
.container_video{
    display: flex;
    justify-content: space-between;
    max-width: 1112px;
    margin: auto;
}
.vid{
    max-width: 255px;
    position: relative;
    margin-bottom: 30px;
}
.vid img{
    border-radius: 15px;
    width: 100%;
    display: block;
    margin-bottom: 20px;
}
.play{
    position: absolute;
    top: 78px;
    left: 96px;
    transition: 0.6s;
}
.play:hover{
    transform: scale(1.1);
}
.vid h4{
    font-family: 'Roboto-Regular', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #FFFFFF;
    margin-bottom: 10px;
}
.vid p{
    font-family: 'Roboto-Regular', sans-serif;
    font-style: normal;
    font-weight: 60;
    font-size: 16px;
    line-height: 150%;
    color: #FFFFFF;
}
.owl-stage{
    display: flex;
    justify-content: space-between;
}
.owl-nav .owl-prev:before{
    font-family: "Font Awesome 6 Free";

    font-weight: 510;
    content: "\f060";
    font-size: 20px;
    color: #FFFFFF;
    position: relative;
    left: 925px;
}
.owl-nav .owl-next:before{
    font-family: "Font Awesome 6 Free";
    font-weight: 510;
    content: "\f061";
    font-size: 20px;
    color: #FFFFFF;
    position: relative;
    right: 125px;
}
.owl-nav{
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: space-between;
    top: -110px;
}
.owl-carousel.owl-carousel_1 .owl-nav .owl-prev:before{
    font-family: "Font Awesome 6 Free";
    font-weight: 510;
    content: "\f060";
    font-size: 20px;
    color: #373737;
    position: relative;
    left: 925px;
}
.owl-carousel.owl-carousel_1 .owl-nav .owl-next:before{
    font-family: "Font Awesome 6 Free";
    font-weight: 510;
    content: "\f061";
    font-size: 20px;
    color: #373737;
    position: relative;
    right: 125px;
}
.owl-carousel.owl-carousel_1 .owl-nav{
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: space-between;
    top: -70px;
}
.form_banner{
    background-color: #FFFFFF;
    padding-top: 21px;
    padding-bottom: 200px;
}
.top_form{
    margin-bottom: 200px
}
.container_form{
     display: flex;
     justify-content: space-between;
     max-width: 1112px;
     margin: auto
 }
.container_form form{
    width: 392px;
}
.form_banner h2{
    font-family: 'Gothic A1', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 130%;
    color: #000000;
    margin-bottom: 30px;
}
.form_banner input{
    width: 100%;
    height: 25px;
    margin-bottom: 40px;
    border: none;
    border-bottom: solid 1px black;
    font-family: 'Roboto-Regular', sans-serif;
    font-style: normal;
    font-weight: 100;
    font-size: 16px;
    line-height: 150%;
    color: #000000;
}
.form_banner button{
    font-family: 'Roboto-Regular', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 150%;
    color: #FFFFFF;
    padding: 20px 50px;
    background: linear-gradient(90deg, #4C6071 0%, #55BDEA 100%);
    box-shadow: 8px 8px 109px rgba(0, 0, 0, 0.05), 8px 8px 109px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    border: none;
    margin-top: 20px;
}
.photo_design{
    max-width: 616px
}
.form_banner img{
    width: 100%;
    display: block;
}
footer{
    background-color: rgba(76, 96, 113, 0.9);
    background-image: url("../images/footer_back.svg");
    padding-top: 50px;
    padding-bottom: 20px;
}
.footer_banner{
    max-width: 1107px;
    display: flex;
    justify-content: space-between;
    margin: auto;
}
footer h2{
    font-family: 'Gothic A1', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 130%;
    color: #FFFFFF;
    margin-bottom: 30px;
}
footer p{
    font-family: 'Roboto-Regular', sans-serif;
    font-style: normal;
    font-weight: 100;
    font-size: 16px;
    line-height: 150%;
    color: #FFFFFF;
    margin-bottom: 30px;
}
.soc_net{
    width: 155px;
    display: flex;
    justify-content: space-between;
}
.soc_net a{
    transition: 0.6s;
}
.soc_net a:hover {
    transform: scale(1.1);
}
.gen_contacts{
    text-align: end;
}
.map{
    width: 540px;
    height: 146px;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
}
.click_map{
    background-color: #000000;
    opacity: 0.8;
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 45px 115px;
}
.click_map a{
    text-decoration: none;
}
.click_map p{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    color: #FFFFFF;
    font-size: 24px;
    line-height: 130%;
    font-weight: 600;
    transition: 0.6s;
}
.click_map p:hover{
    transform: scale(1.1);
}
.map iframe{
    border:0;
}