@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.eot');
    src: url('../fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Roboto-Regular.woff2') format('woff2'),
    url('../fonts/Roboto-Regular.woff') format('woff'),
    url('../fonts/Roboto-Regular.ttf') format('truetype'),
    url('../fonts/Roboto-Regular.svg#Roboto-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Futura Md BT';
    src: url('../fonts/FuturaBT-Medium.eot');
    src: url('../fonts/FuturaBT-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/FuturaBT-Medium.woff2') format('woff2'),
    url('../fonts/FuturaBT-Medium.woff') format('woff'),
    url('../fonts/FuturaBT-Medium.ttf') format('truetype'),
    url('../fonts/FuturaBT-Medium.svg#FuturaBT-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box
}

header{
    position: absolute;
    width: 100%;
    padding-top: 39px
}
.container{
    max-width: 1110px;
    margin: auto
}
.d-flex{
    display: flex;
    justify-content: space-between;
}
.logo{
    position: relative;
    margin-right: 210px;
}
.logo img{
    position: absolute;
    top: -35px;
    left: -50px;
}
.toplist{
    list-style: none;
    display: flex;

}
header nav ul li{
    margin: 0 10px
}
header nav ul li a{
    text-decoration: none
}
header p{
    font-family: 'Roboto-Regular', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: #FFFFFF
}
header ul li{
    margin: 0 10px
}
header ul li:last-of-type{
    margin-right: 35px;
}
header ul li a{
    text-decoration: none
}
.main_banner{
    background-image: url('../images/back.png');
    background-size: cover;
    padding-top: 170px;
    padding-bottom: 34px;
}
h1{
    font-family: "Futura Md BT", sans-serif;
    font-size: 56px;
    font-weight: 500;
    line-height: 130%;
    color: #FFFFFF;
    margin-bottom: 30px;
}

.main_banner article{
    max-width: 512px;
    background:rgba(255, 255, 255, 0.9);
    border-radius: 20px;
    margin-right: 500px;
    margin-bottom: 98px;
    padding: 37px 33px 34px;
    display: flex
}

.main_banner article img{
    margin-right: 33px
}

.main_banner article p{
    font-family: 'Roboto-Regular', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    color: #000000
}
.order{
    display: flex;
}
.order a{
    text-decoration: none;
    padding: 20px 48px;
    background: linear-gradient(90deg, #4C6071 0%, #55BDEA 100%);
    box-shadow: 0 0 166px rgba(0, 0, 0, 0.2), 8px 8px 109px rgba(0, 0, 0, 0.05);
    border-radius: 10px
}
.order p{
    font-family: 'Roboto-Regular', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    color: #FFFFFF
}
.about_us_banner{
    padding-top: 15px;
    padding-bottom: 160px;
}
.top_about{
    margin-bottom: 160px;
}
.top_about img{
    display: block;
    width: 100%;
}
.container_about_us{
    max-width: 1440px;
    display: flex;
    justify-content: flex-end;
    margin: auto;
}
.container_about_us article{
    max-width: 385px;
    margin-right: 120px;
}
.container_about_us article h3{
    font-family: 'Gothic A1', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 130%;
    color: #000000;
    margin: 21px 0 60px;
}
.container_about_us article p{
    font-family: 'Roboto-Regular', sans-serif;
    font-style: normal;
    font-weight: 60;
    font-size: 20px;
    line-height: 150%;
    color: #000000
}
.container_about_us article p:first-of-type{
    margin-bottom: 40px;
}
.container_about_us article p span{
    font-family: 'Roboto-Regular', sans-serif;
    font-style: normal;
    font-weight: 549;
    font-size: 20px;
    line-height: 150%;
    color: #000000
}
.photo_bathroom{
    max-width: 770px
}
.photo_bathroom img{
    width: 100%;
    display: block
}
.wy_we{
    background-color: rgba(76, 96, 113, 0.9);
    background-image: url("../images/wy_we.svg");
    padding-top: 60px;
    padding-bottom: 60px;
}
.wyh2{
    max-width: 920px;
    margin: auto;
}
.wy_we h2{
    font-family: 'Gothic A1', sans-serif;
    font-style: normal;
    font-weight: 200;
    font-size: 24px;
    line-height: 130%;
    color: #FFFFFF;
    margin-bottom: 67px;
}
.container_wy{
    display: flex;
    justify-content: space-between;
    max-width: 1110px;
    margin: auto;
}
.wy{
    max-width: 255px;
    border-radius: 20px;
    background-color: #FFFFFF;
    padding: 50px 30px;
}
.wy img{
    width: 26%;
    display: block;
    margin: 0 66px 50px 67px;
}
.wy h4{
    font-family: 'Roboto-Regular', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #373737;
    margin-bottom: 10px;
}
.wy p{
    font-family: 'Roboto-Regular', sans-serif;
    font-style: normal;
    font-weight: 60;
    font-size: 16px;
    line-height: 150%;
    color: #373737;
}
.portfolio{
    padding-bottom: 177px;
}
.topport{
    margin-bottom: 157px;
}
.topport img{
    display: block;
    width: 100%;
}
.porth2{
    max-width: 920px;
    margin: auto;
}
.portfolio h2{
    font-family: 'Gothic A1', sans-serif;
    font-style: normal;
    font-weight: 200;
    font-size: 24px;
    line-height: 130%;
    color: #373737;
    margin-bottom: 50px;
}
.container_port{
    display: flex;
    justify-content: space-between;
    max-width: 1110px;
    margin: auto;
}
.port_el{
    max-width: 540px;
    margin-bottom: 80px;
}
.port_el img{
    width: 100%;
    display: block;
    margin-bottom: 20px;
}
.port_el h4{
    font-family: 'Roboto-Regular', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #373737;
    margin-bottom: 10px;
}
.port_el p{
    font-family: 'Roboto-Regular', sans-serif;
    font-style: normal;
    font-weight: 60;
    font-size: 16px;
    line-height: 150%;
    color: #373737;
}
.container_port_button{
    display: flex;
    justify-content: center;
}
.container_port_button a{
    text-decoration: none;
    padding: 20px 67px;
    background: linear-gradient(90deg, #4C6071 0%, #55BDEA 100%);
    box-shadow: 0 0 166px rgba(0, 0, 0, 0.2), 8px 8px 109px rgba(0, 0, 0, 0.05);
    border-radius: 10px
}
.container_port_button a p{
    font-family: 'Roboto-Regular', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 150%;
    color: #FFFFFF
}
.quest_banner{
    background-color: rgba(76, 96, 113, 0.9);
    background-image: url("../images/quest_backgr.svg");
    padding-top: 60px;
    padding-bottom: 60px;
}
.quest_header{
    max-width: 1190px;
    border-radius: 20px;
    background-color: #FFFFFF;
    padding: 30px 370px 10px 30px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}
.quest_banner h2{
    font-family: 'Gothic A1', sans-serif;
    font-style: normal;
    font-weight: 200;
    font-size: 24px;
    line-height: 130%;
    color: #000000;
    margin-bottom: 20px;
}
.quest_main{
    max-width: 1188px;
    border-radius: 20px;
    background-color: #ffffff;
    margin: auto;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.quest_form{
    width: 1128px;
    height: 370px;
    border-radius: 30px;
    background-color: #4C6071;
    padding: 30px 50px 30px 30px;
    display: flex;
    justify-content: space-between;
    flex-flow: column wrap;
    align-content: space-between;
}
.select_method{
    width: 408px;
}
.quest_form input{
    margin-right: 30px;
    position: absolute;
    right: -10px;
    top: 30px;
}
.quest_form label{
    position: relative;
    display: block;
    padding: 20px 138px 20px 20px;
    margin-bottom: 10px;
    min-width: 408px;
    background-color: #FFFFFF;
    border-radius: 10px;
    font-family: 'Roboto-Regular', sans-serif;
    font-style: normal;
    font-weight: 200;
    font-size: 20px;
    line-height: 150%;
    color: #000000;
}
.quest_img{
    max-width: 610px;
    margin-bottom: 10px;
}
.quest_img img{
    width: 100%;
    display: block;
}
.quest_form_right{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.quest_buttons{
    display: flex;
    justify-content: space-between;
}
.quest_form_right button {
    font-family: 'Roboto-Regular', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 150%;
    color: #FFFFFF;
    padding: 20px 116px;
    background: linear-gradient(90deg, #4C6071 0%, #55BDEA 100%);
    box-shadow: 8px 8px 109px rgba(0, 0, 0, 0.05), 8px 8px 109px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    border: none;
}


.cat_banner{
    padding-top: 30px;
    padding-bottom: 150px;
}
.topfacture{
    margin-bottom: 150px;
}
.topfacture img{
    width: 100%;
    display: block;
}
.container_cat{
    max-width: 920px;
    margin: auto;
}
.cat_banner h2{
    font-family: 'Gothic A1', sans-serif;
    font-style: normal;
    font-weight: 200;
    font-size: 24px;
    line-height: 130%;
    color: #373737;
    margin-bottom: 52px;
}
.container_cat_banner {
    display: flex;
    justify-content: space-between;
    max-width: 1112px;
    margin: auto;
}
.element{
    margin-bottom: 40px;
}
.element img{
    width: 100%;
    display: block;
    margin-bottom: 20px;
}
.element p{
    font-family: 'Roboto-Regular', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: #373737;
}
.container_cat_banner_button{
    display: flex;
    justify-content: center;
}
.container_cat_banner_button a{
    text-decoration: none;
    padding: 20px 46px;
    margin-top: 30px;
    background: linear-gradient(90deg, #4C6071 0%, #55BDEA 100%);
    box-shadow: 0 0 166px rgba(0, 0, 0, 0.2), 8px 8px 109px rgba(0, 0, 0, 0.05);
    border-radius: 10px
}
.container_cat_banner_button a p{
    font-family: 'Roboto-Regular', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 150%;
    color: #FFFFFF
}
.video_feedback{
    background-color: rgba(76, 96, 113, 0.9);
    background-image: url("../images/backvid.svg");
    padding-top: 60px;
    padding-bottom: 65px;
}
.feedh2{
    max-width: 920px;
    margin: auto;
}
.video_feedback h2{
    font-family: 'Gothic A1', sans-serif;
    font-style: normal;
    font-weight: 200;
    font-size: 24px;
    line-height: 130%;
    color: #FFFFFF;
    margin-bottom: 87px;
}
.container_video{
    display: flex;
    justify-content: space-between;
    max-width: 1112px;
    margin: auto;
}
.vid{
    max-width: 255px;
    position: relative;
    margin-bottom: 30px;
}
.vid img{
    border-radius: 15px;
    width: 100%;
    display: block;
    margin-bottom: 20px;
}
.play{
    position: absolute;
    top: 78px;
    left: 96px;
    transition: 0.6s;
}
.play:hover{
    transform: scale(1.1);
}
.vid h4{
    font-family: 'Roboto-Regular', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #FFFFFF;
    margin-bottom: 10px;
}
.vid p{
    font-family: 'Roboto-Regular', sans-serif;
    font-style: normal;
    font-weight: 60;
    font-size: 16px;
    line-height: 150%;
    color: #FFFFFF;
}
.form_banner{
    background-color: #FFFFFF;
    padding-top: 21px;
    padding-bottom: 200px;
}
.top_form{
    margin-bottom: 200px
}
.form_banner img{
    width: 100%;
    display: block;
}
.container_form{
     display: flex;
     justify-content: space-between;
     max-width: 1112px;
     margin: auto
 }
.container_form form{
    width: 392px;
}
.form_banner h2{
    font-family: 'Gothic A1', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 130%;
    color: #000000;
    margin-bottom: 30px;
}
.form_banner input{
    width: 100%;
    height: 25px;
    margin-bottom: 40px;
    border: none;
    border-bottom: solid 1px black;
    font-family: 'Roboto-Regular', sans-serif;
    font-style: normal;
    font-weight: 100;
    font-size: 16px;
    line-height: 150%;
    color: #000000;
}
.form_banner button{
    font-family: 'Roboto-Regular', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 150%;
    color: #FFFFFF;
    padding: 20px 50px;
    background: linear-gradient(90deg, #4C6071 0%, #55BDEA 100%);
    box-shadow: 8px 8px 109px rgba(0, 0, 0, 0.05), 8px 8px 109px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    border: none;
    margin-top: 20px;
}
.photo_design{
    max-width: 616px
}
.photo_design img{
    width: 100%;
    display: block
}